In [1]:
import pandas as pd

In [2]:
result = pd.read_csv('topk_recommendations.csv')

In [3]:
result.head()

   User ID                                        Top k Items
0        0  [ 5003  7934  3762  2275  4617  3356  1042 122...
1        1  [11648 13643  4232  6262  9595  6124 10572  75...
2        2  [ 1002  6028 13304  5083 17668  4678  8019 148...
3        3  [ 3145 11688  2465  8957  6054 14496 17734 144...
4        4  [ 3631 10633  8648  8400  2972  4184 15995  21...