In [1]:
import pandas as pd

In [5]:
microlens_pairs = pd.read_csv('MicroLens-50k_pairs.tsv', sep='\t', header=None)

In [6]:
microlens_pairs.head()

   0                                    1
0  1           1958 6346 15223 17700 1707
1  2  16657 915 9127 3775 9500 10949 5299
2  3           8394 11377 6035 5408 18348
3  4           8723 1564 6158 10743 11230
4  5              11318 189 138 8461 4365

In [7]:
microlens_titles = pd.read_csv('MicroLens-50k_titles.csv')

In [8]:
microlens_titles.head()

   item                                              title
0     1  Gu long song gaga bad, even three hundred year...
1     2  beautiful dish with 5 pounds of duck intestine...
2     3  This sudden reversal, you can't guess the endi...
3     4  pumpkin play armor new outfit, and listen to m...
4     5  the wife a day brush 200,000, the husband stop...

In [19]:
for i in range(microlens_titles.shape[0]):
    if microlens_titles.iloc[i, 0] == 1958:
        print(i)

1915